.backgroundImage {
    background-image: url(../pics/audi.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

#rcorners {
    border-radius: 25px;
}
/*body{*/
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
/*}*/